
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


/* Chart Slide */

#chart-image-slide {
  background-color: rgb(236, 214, 187, 0.9);
  margin: 4rem; 
  padding: 2rem; 
  box-shadow: -0.5rem 0 1rem rgba(0 0 0 / 50%);
  border: none; 
  width:auto;
  max-width: 1050px; 
  display: grid; 
  grid-template-areas: 
    "button button"
    "chart text";
  grid-template-columns: 6fr 6fr; 
  grid-template-rows: auto 1fr; 
  gap: 0.8rem; 
}

#selectButton {
  grid-area: button;
  padding: 0.5rem 1rem; 
  font-size: 1rem; 
  border-radius: 0.5rem; 
  border: 1px solid #d7c5b0; 
  background-color: #553a0b; 
  color: #f1f0f0; 
  appearance: none; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  width: 100%; 
}

#selectButton:hover {
  background-color: #eca431; 
}

/* Chart container styling */
#chart-container {
  grid-area: chart;
  background-size: cover; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 1rem; 
  width: 100%; 
  height: auto; 
  
}

/* Text box styling */
.text-box {
  grid-area: text;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  padding: 2rem;
  box-sizing: border-box;
}



/* Front Page Design */
#image-slide-1 {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  box-shadow: none;
  height:30vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#image-slide-1 h1{
  text-align: center;
  font-weight: 800;
  font-size: 3.2rem;
  color: #80280a;
  letter-spacing:8px;
  font-family: 'Satisfy';
  cursor:pointer;
  transition:.6s;
  margin: 0;
  padding-bottom: 0.5rem; 
}

#image-slide-1 h1:before,#image-slide-1 h1:after {
  content:attr(data-text);
  transition:.6s;
}
#image-slide-1 h1:before {
  left: 0;
  top: 0;
  position: absolute;
  z-index:-1;
  text-shadow:
   0px 0px,
   0px 0px,
   0px 0px,
   0px 0px,
   0px 0px,
   0px 0px,
   0px 0px,
   0px 0px,
   0px 0px,
   0px 0px;
  -webkit-mask:repeating-linear-gradient(45deg, transparent 0 3px, rgba(0, 0, 0, 0.5) 0 6px);
          mask:repeating-linear-gradient(45deg, transparent 0 3px, rgba(0,0,0,0.5) 0 6px);
}
#image-slide-1 h1:hover {
  transform:translate(-5px,-5px);
}  
#image-slide-1 h1:hover:before {
  text-shadow:
   1px 1px,
   2px 2px,
   3px 3px,
   4px 4px,
   5px 5px,
   6px 6px,
   7px 7px,
   8px 8px,
   9px 9px,
   10px 10px;
}

#image-slide-1 p:nth-of-type(1) {
  font-size: 1.4rem; 
  font-weight: 500;
  font-family: Mulish;
  text-align: center;
  padding: 1rem;
  color: black;
  margin: 0;
  line-height: 15px;
}

#image-slide-1 p:nth-of-type(2) {
  font-size: 1.1rem; 
  font-weight: 380;
  font-family: Mulish;
  text-align: center;
  padding: 1rem;
  color: black;
  margin: 0;
  line-height: 15px;
}

.underlined {
  color: black;
  font-size: 1.1em;
  font-weight: 380;
  line-height: 15px;
  font-family: Mulish;
  text-decoration: none;
  background-image: linear-gradient(to right, #fcd202 0, #fcd202 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
}

.underlined:hover {
  background-size: 100% 100%;
}

.underlined--thick {
  background-position: 0 -0.3em;
}

/* Introduction to Maple Syrup */
#image-slide-2 {
  margin-top: 90vh;
  margin-bottom: 90vh;
  margin-left: auto;
  margin-right: 2rem;
  padding: 1rem;
  box-shadow: -0.5rem 0 1rem rgba(0 0 0 / 50%);
  border: 1px solid gray;
  border-radius: 0.5rem;
  pointer-events: initial;
  width: 48%;
  background-color: rgba(242, 235, 235, 0.85);
  color: black;
  position: relative;
}

#image-slide-2 .image {
  position: absolute;
  left: -85%;
  top: auto;
  transform: translateY(-20%); 
  width: 75%; 
  height: auto;
  z-index: 10; 
  border-radius: 3%;
  border: 5px solid rgba(0, 0, 0, 0.3); 
  filter: blur(0.2px);
}


h1{
  font-family: 'Didact Gothic';
  font-size:1.7rem;
  font-weight: 600;  
  color: #80280a;
}

p{
  font-family: 'Mulish';
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 30px;
}

/* General Headings and Bodies */

body {
  margin: 0;
  border-width: 0;
  box-sizing: border-box;
  height: 100vh;
}

.map-container {
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 0;
}

.map {
  height: 100%;
}

/* General Slides */
.slide-section {
  position: relative;
  margin-top: -30vh;
  z-index: 100;
  pointer-events: none;
}

.slide {
  margin-top: 90vh;
  margin-bottom: 90vh;
  margin-left: 3.5rem;
  margin-right: auto;
  padding: 1rem;
  box-shadow: -0.5rem 0 1rem rgba(0 0 0 / 50%);
  border: 1px solid gray;
  border-radius: 0.5rem;
  pointer-events: initial;
  width: 22rem;
  background-color: white;
  color: black;
  position: relative;
}

.slide .icon {
  position: absolute;
  top: 0.5rem; 
  right: 0.5rem; 
  width: 4rem; 
  height: auto;
}

#sugar-img {
  position: absolute;
  right: -68vw;
  top: 17vh;
  transform: translateY(-20%); 
  width: 125%; 
  height: auto;
  z-index: 10; 
  box-shadow: -0.5rem 0 1rem rgba(0 0 0 / 20%);
  border-radius: 2%;
}

.slide:first-child {
  margin-top: 0;
}

.slide:last-child {
  margin-bottom: 40vh;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;

  width: 100%;
}

.slide-nav-button {
  transition: all 0.1s;

  padding: 0;
  margin: 1rem;
  width: 4rem;
  height: 3rem;
  border: 1px solid #888;
  border-radius: 0.25rem;

  background-color: #eee;
}

.slide-nav-button:hover {
  background-color: #444;
  color: #fff;
}

.slide-nav-select {
  min-width: 0;
}

.custom-tooltip {
  color: rgb(97, 9, 9);
  font-size: 15px;
  padding: 9px;
  border-radius: 3px;
}

/* Processing Slides */

#image-slide-process-1, #image-slide-process-2, #image-slide-process-3 {
  margin-top: 90vh;
  margin-bottom: 90vh;
  margin-left: auto;
  margin-right: 2rem;
  padding: 1rem;
  box-shadow: -0.5rem 0 1rem rgba(0 0 0 / 50%);
  border: 1px solid gray;
  border-radius: 0.5rem;
  pointer-events: initial;
  width: 48%;
  background: linear-gradient(to bottom, rgba(214, 204, 145, 0.9), rgba(255, 255, 255, 0.9));
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

#image-slide-process-1:hover, #image-slide-process-2:hover, #image-slide-process-3:hover {
  transform: scale(1.05);
  box-shadow: -0.5rem 0 1.5rem rgba(0 0 0 / 60%);
}

.process-icon{
  position: absolute;
  margin-bottom: 4%;
  top: 0.5rem; 
  right: 1rem; 
  width: 9rem; 
  height: auto;
}

.giffy-icon{
  position: absolute;
  top: 5rem; 
  right: 130%; 
  width: 15rem; 
  height: auto;
}

 #falling{
  position: absolute;
  top: 20%; 
  right: 110%; 
  height: auto;
  width: 70%;
}

/* Ending Slide */

#image-slide-3 {
  margin-top: 90vh;
  margin-left: auto;
  border: 1px solid gray;
  width: 95%;
  height:100%;
  background-color: rgba(242, 235, 235, 0.7);
  color: black;
  border-radius: 0 !important;
}

.text {
	font-family: "Didact Gothic";
	font-size: 70px;
  font-weight: 800;
  color: #eee;
	display: flex;
	position: absolute;
	bottom: 45vh;
	left: 50%;
	transform: translateX(-50%);

	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		.letter {
			transition: ease-out 0.8s;
			transform: translateY(30%);
		}
		.shadow {
			transform: scale(1, -1);
			color: #fffbfb62;
			transition: ease-in 2s, ease-out 2s;
		}
		&:hover {
			.letter {
				transform: translateY(-200%);
			}
			.shadow {
				opacity: 0;
				transform: translateY(200%);
			}
		}
	}
}

#image-slide-3  p:first-of-type{
  font-family: 'Didact Gothic';
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  line-height: 35px;
  padding: 1rem;
  color: black;
  letter-spacing: 2px;
  margin-bottom: 0%;
}

#image-slide-3  p:nth-of-type(2){
  font-family: 'Mulish';
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  line-height: 10px;
  padding: 1rem;
  color: rgb(105, 104, 104);
  margin-bottom: 0%;
}

#image-slide-3  p:nth-of-type(3){
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 0.7rem;
  text-align: center;
  line-height: 10px;
  padding: 1rem;
  color: rgb(53, 50, 50);
  margin-bottom: 0%;
}

